<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily does</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

    <div class=" elej container">
        <div class="centered">
  
<H3>........PLEASE REGISTER........ </H3>
<H3>IF YOU HAVE ALREDY REGISTER THEN PLEASE LOGIN</H3>
        </div>
<hr>
<a class="btn btn-light btn-lg" href="/register" role="button">REGISTER</a>
<a class="btn btn-dark btn-lg" href="/login" role="button">LOGIN</a>
</div>
<%- include('partial/footer'); -%>
